/* remember, that Bootstrap is used here, most declarations are hence left out*/


html[theme="dark mode"] {
    --text: #dae6e5;
    --accent: #ffb325; /*39d876*/
    --title: #2DC9BA; 
    --link: #48C9B0;
    --bg: #2E3B4E;
    --bg2: #415065;

    --nav-bg: #2E3B4E; /* fixed */
    
    --link-text-hover: #E9F4F3; 
    --link-bg-hover: #00000000; 
    
    --act-bg: #48C9B0;  
    --act-text: #000000; 
    --act-border: #000000;
    
    --act-bg-hover: #000000;  
    --act-text-hover: #48C9B0; 
    --act-border-hover: #48C9B0;
    
    --dis-text: #889E9C; 
    --dis-bg: #A4B7B6; 
    --dis-border: #A4B7B6;

}

/* 01 General Parameters ------------------------------------- */
html[theme="light mode"] {
	--text: #2b2b2b;
	--accent: #c2881d; 
	--title: #315857; 
	--link: #1b816c; 
    --bg: #d8d8d8; 
    --bg2: #d8d8d8;

    --nav-bg: #2E3B4E; /* fixed */

    --link-text-hover: #E9F4F3;  /* fixed */
    --link-bg-hover: #00000000;  /* fixed */
    
    --act-bg: #48C9B0;   /* fixed */
    --act-text: #000000;  /* fixed */
    --act-border: #000000; /* fixed */
    
    --act-bg-hover: #000000;   /* fixed */
    --act-text-hover: #48C9B0;  /* fixed */
    --act-border-hover: #48C9B0; /* fixed */
    
    --dis-text: #889E9C;  /* fixed */
    --dis-bg: #A4B7B6;  /* fixed */
    --dis-border: #A4B7B6; /* fixed */
}

html[theme] body {
    background:  linear-gradient(60deg, var(--bg), var(--bg2));
    color: var(--text);
}

html[theme] h1, h2, h3, h4, h5, h6 {
    color: var(--title);
    text-shadow: 1px 1.5px 3px #000000B0;
}

html[theme] nav {
    height: 56px;
    background-color: var(--nav-bg);
    box-shadow: 2px 2px 7px #00000060;
    z-index: 1;
}

/* 02 Generic classes ------------------------------------------ */
html[theme] .logo {
    justify-content: inline;
    vertical-align: middle;
    color: #eee;
    font-size: 0.9rem;
}

.logo > img {
    height: 33px;
    margin-right: 15px;
    margin-left: 1px;
}

.logo > p {
    vertical-align: middle;
}

html[theme] .btn {
    border: none;
    background-color: var(--bg);
    color: var(--text);
}

html[theme] .navbar-toggler {
    background-color: var(--act-bg);
    padding: 8px 12px;
    color: var(--act-text);
    transition: background-color 0.3s ease;    
}

html[theme] .navbar-toggler:hover {
    background-color: var(--act-bg-hover);
}

html[theme] .navbar-toggler:hover > i {
    color: var(--act-text-hover);
}

html[theme] .navbar-toggler:focus,
html[theme] .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

html[theme] .landing-page {
    height: calc(100vh - 56px);
    margin-top: 56px;
    padding-top: 20vh;
    display: block;
    text-align: center;

}

/* 03 specific elements ------------------------------------ */
#theme-toggle {
    margin: auto 15px auto auto;
    background-color: #00000020;
    font-weight: bold;
    color: var(--accent);
}

#theme-toggle:hover {
    background-color: #00000080;
}

html[theme] .offcanvas-body a {
    color: var(--link);
    text-decoration: none;
    transition: text-underline-offset 0.6s ease;
}

html[theme] .offcanvas-body a:hover {
    color: var(--link);
    text-decoration: underline 1px solid;
    text-decoration-color: var(--link);
    text-underline-offset: 4px;
}

/* Tablet size */
@media (min-width: 768px) {
    .logo > img {
        height: 40px;
        margin-right: 15px;
        margin-left: 3px;
    }
    
    html[theme] .logo {
        font-size: 1.1rem;
    }
}