/* remember, that Bootstrap is used here, most declarations are hence left out*/


html[theme="dark mode"] {
    --text: #dae6e5;
    --accent: #ffb325; /*39d876*/
    --title: #2DC9BA; 
    --link: #48C9B0;
    --bg: #2E3B4E;

    --nav-bg: #2E3B4E; /* fixed */
    
    --link-text-hover: #E9F4F3; 
    --link-bg-hover: #00000000; 
    
    --act-bg: #48C9B0;  
    --act-text: #000000; 
    --act-border: #000000;
    
    --act-bg-hover: #000000;  
    --act-text-hover: #48C9B0; 
    --act-border-hover: #48C9B0;
    
    --dis-text: #889E9C; 
    --dis-bg: #A4B7B6; 
    --dis-border: #A4B7B6;

}

/* 01 General Parameters ------------------------------------- */
html[theme="light mode"] {
	--text: #2b2b2b;
	--accent: #154b2a; 
	--title: #315857; 
	--link: #1b816c; 
    --bg: #eee; 
}

html[theme] body {
    background-color: var(--bg);
    color: var(--text);
}

nav {
    height: 56px;
    background-color: var(--bg);
}

/* 02 Generic classes ------------------------------------------ */
html[theme] .logo {
    justify-content: inline;
    vertical-align: middle;
    color: #eee;
    font-size: 1.1rem;
}

.logo > img {
    height: 40px;
    margin-right: 15px;
    margin-left: 3px;
}

.logo > p {
    margin:  0 auto;
}

html[theme] .btn {
    border: none;
    background-color: var(--bg);
    color: var(--text);
}

html[theme] .navbar-toggler {
    background-color: var(--act-bg);
    padding: 8px 12px;
    color: var(--act-text);
    transition: background-color 0.3s ease;    
}

html[theme] .navbar-toggler:hover {
    background-color: var(--act-bg-hover);
}

html[theme] .navbar-toggler:hover > i {
    color: var(--act-text-hover);
}

html[theme] .navbar-toggler:focus,
html[theme] .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}


/* 03 specific elements ------------------------------------ */
#theme-toggle {
    margin: auto 15px auto auto;
    background-color: #00000020;
    font-weight: bold;
    color: var(--accent);
}

#theme-toggle:hover {
    background-color: #00000080;
}

/* Tablet size */
@media (max-width: 768px) {
    
}